  main {
    display: grid;
    grid-gap: 1rem;
  }

/* BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER */

.blog__banner {
  min-height: calc(42vh - 8rem);
  width: 100%;
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: 
    var(--color-yellow) 
    url("../images/layered-waves-haikei.svg")
    no-repeat 
    bottom 
    center;
  background-size: cover;

  text-align: center;

  h3 { 
    margin-top: 2rem; 
  }
}

.blog-animation {
  font-family: inherit;

  transition: color 5s;

  &:focus,
  &:hover {
    cursor: crosshair; /* For fun */
    color: var(--color-dark);

    transition: all var(--speed-fast);
  }
}

/* THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS */

.blog__thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  article {
    div {  /* Thumbnail Wrapper */
      display: flex;
      align-items: center;

      background-color: var(--color-blood);
    }

    a {
      flex: 1 0 auto;
      
      outline: 1rem solid var(--color-dark);
      height: 100%;
      width: 100%;

      display: grid;
      align-items: stretch;

      transition: transform var(--speed-fast) ease-out, outline var(--speed-slow) ease;

      text-decoration: none;

      &:focus,
      &:hover { 
        background-color: var(--color-blood);
        box-shadow: 0 0 5rem var(--color-dark);
        outline: 1rem solid var(--color-blood);
        transform: scale(1.03);  
        z-index: 1;

        transition: transform var(--speed-fast) ease-out, outline var(--speed-fast) ease-out;
      }
    }
    
    img {
      width: 100%;
      display: none;
    }

    h2 {
      padding: 1rem 2rem;

      color: var(--color-yellow);
    }

    p {
      /* height: 100%; */
      margin: 0;
      padding: 2rem;

      background-color: var(--color-white);
    }
  }
}

/* ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE */

aside {
  padding: 2rem;
  align-self: start;

  background-color: var(--color-white);
}

/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES */

@media screen and (min-width: 300px) {

  /* Banner */

  .blog__banner {
    min-height: calc(52vh - 8rem);
  }
}

@media  screen and (min-width: 30rem) {

  /* Thumbnails */

  .blog__thumbnails article a {
    grid-template-columns: 1fr 2fr;

    article {
      img {
        display: block;
        grid-column: 1 / 2;
      }
      
      h2 {
        grid-column: 2 / 3;
      }

      p {
        grid-column: 1 / 3;
      }
    }
  }
}

@media screen and (min-width: 40rem) {

  /* Banner */

  h1.dragon-text {
    max-width: 55rem;
  }

  .blog__banner {
    min-height: calc(62vh - 8rem);
  }

  /* Thumbnails */

  .blog__thumbnails {
    article {
      a {
        grid-template-columns: 1fr 2fr;
      }

      img {
        display: block;

        grid-row: 2 / 3;
      }

      div {
        grid-column: span 2;
        grid-row: 1 / 2;
      }

      h2 {
        font-size: calc(var(--h3));
      }

      p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }
}

@media screen and (min-width: 50rem) {

  .blog__thumbnails {
    article {
      img {
        grid-row: 1 / 3;
      }

      div {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8rem 1fr;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  main {
    grid-column: span 2;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 38.2% 1fr; /* 38.2% = Golden Ratio */
    grid-template-rows: auto;
  }

  .blog__banner {
    border-bottom: none;
    grid-column: 1 / 2;
    grid-row: 1 / 6;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }

  .blog__thumbnails {
    grid-column: 2 / 3;
    grid-row: 2 / 5;

    z-index: 1;

    article {
      img {
        display: block;

        grid-row: 1 / 3;
      }

      div {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      p {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
    }
  }

  aside {
    grid-column: 2;
    grid-row: 5;
  }

  #since-born {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 100rem) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog__banner {
    height: calc(100vh - 9rem);
  }

  .blog__thumbnails {
    grid-column: 2 / 4;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;

    article {
      height: 100%; 

      a { height: 100%; }
      img { grid-row: 2; }
      div { grid-column: 1 / 3; }
      p {
        grid-column: 2 / 3;
        height: 100%;
      }
    }
  }

  aside {
    grid-column: 2;
    grid-row: 3;
  }

  #since-born {
    grid-column: 3;
    grid-row: 3;
  }
}