main {
  display: grid;
  row-gap: 1rem;
}

.landing__banner {
  padding: 2rem;

  background: 
    var(--color-blood) 
    url(../images/stacked-waves-haikei.svg)
    no-repeat 
    center 
    center;
  background-size: cover;

  color: var(--color-white);

  h1 {
    margin-bottom: 6rem;
  }
}

/* LANDING PAGE LIST - LANDING PAGE LIST - LANDING PAGE LIST - LANDING PAGE LIST */

.landing-list ul {
  display: grid;
  grid-gap: 1rem;

  li a {
  box-shadow: 0 0 1rem black;
  padding: 2rem;
  width: 100%;

  background-color: var(--color-white);
  display: inline-block;

  text-decoration: none;

  transition: 
    transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65),
    border-radius 0.2s 0.4s ease;
}

  li a:focus,
  li a:hover {
    border-radius: 1rem 0 0 1rem;
    transform: translateX(2.5em);

    transition: 
    transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), 
    border-radius 0.2s;
  }
}

/* Background Images*/

:root { /* Positioning of list background images */
  --bg-pos: left / contain no-repeat; 
}

.landing-list { background: var(--bg-pos); }
.landing-list__hypnus { background: var(--bg-pos) url(../images/hypnus.jpg); }
.landing-list__kabalion { background: var(--bg-pos) url(../images/kabalion.jpg); }
.landing-list__aedi { background: var(--bg-pos) url(../images/aedi.jpg); }
.landing-list__the-memoir { background: var(--bg-pos) url(../images/thememoir.jpg); }
.landing-list__aether-mechanics { background: var(--bg-pos) url(../images/aethermechanics.jpg); }
.landing-list__ntogn { background: var(--bg-pos) url(../images/ntogn.jpg); }
.landing-list__slink { background: var(--bg-pos) url(../images/slink.jpg); }
.landing-list__photography { background: var(--bg-pos) url(../images/photography.jpg); }

/* CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES  */

img {
  border: 0;
  outline: 0;
}

.michel {
  width: 100%; 
  height: 36rem;

  background-image: url('../images/michel.jpg'); 
  background-position: center left 8rem;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.not-a-link a { 
  color: #767676; 
  cursor: not-allowed; 
}

/* MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES */

@media screen and (min-width: 64rem) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8rem 1fr;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  main {
    grid-column: span 2;

    display: grid;
    grid-template-columns: var(--golden-ratio) 1fr;
  }

  // .landing__banner {
  //   border-right: var(--border-size) solid var(--color-dark);
  // }
}