/* BANNER */

svg {
  /* height: calc(100vh - 8rem); */
  width: 120vw;

  position: absolute;
  top: 0;

  overflow: visible;
  z-index: -1;

  transition: all 1s ease-out;

  --anime: 5s;
}

.slink-svg-1 { animation: slink calc(var(--anime) * 1.618) infinite alternate; }
.slink-svg-2 { animation: slink calc(var(--anime) * 1.2) infinite alternate-reverse; }
.slink-svg-3 { animation: slink calc(var(--anime) * 3) infinite alternate; }
.slink-svg-4 { animation: slink calc(var(--anime) * 2.525) infinite alternate-reverse; }
.slink-svg-5 { animation: slink calc(var(--anime) * 1.7) infinite alternate;  }
.slink-svg-6 { animation: slink calc(var(--anime) * 2.3) infinite alternate-reverse; }

@keyframes slink {
  0% {
    transform: translateX(5%);
  }
  50% {
    fill: var(--color-blood);
  }
  100% {
    transform: translateX(-5%) translateY(10%);
  }
};