@media all and (min-width: 408px) {
  :root {
    --base-font-size: 1.3rem;
  }
}

@media all and (min-width: 1023px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  main {
    grid-column: span 2;

    display: grid;
    grid-template-columns: 38.2% 1fr; /* 38.2% = Golden Ratio */
  }

  /* HOME PAGE */

  .landing__banner {
    border-right: var(--border-size) solid var(--color-dark);
  }

  /* BLOG PAGE */

  .blog__banner {
    grid-column: 1 / 3;
  }

  .blog__thumbnails {
    grid-column: 1 / 3;
  }
}