/* BANNER */

body {
  background-color: var(--color-blood);

  overflow: hidden;
}

.slink__banner {
  min-height: calc(42vh - 8rem);
  width: 100%;
  padding: 2rem;

  grid-column: 1 / 3;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.slink__banner h1 {
  font-size: calc(var(--h1) * 2);
}

svg {
  /* height: calc(100vh - 8rem); */
  width: 120vw;

  position: absolute;
  top: 0;

  overflow: visible;
  z-index: -1;

  transition: all 1s ease-out;

  --anime: 5s;
}

.slink-svg-1 { animation: slink calc(var(--anime) * 1.618) infinite alternate; }
.slink-svg-2 { animation: slink calc(var(--anime) * 1.2) infinite alternate-reverse; }
.slink-svg-3 { animation: slink calc(var(--anime) * 3) infinite alternate; }
.slink-svg-4 { animation: slink calc(var(--anime) * 2.525) infinite alternate-reverse; }
.slink-svg-5 { animation: slink calc(var(--anime) * 1.7) infinite alternate;  }
.slink-svg-6 { animation: slink calc(var(--anime) * 2.3) infinite alternate-reverse; }

@keyframes slink {
  0% {
    transform: translateX(5%);
  }
  50% {
    fill: var(--color-blood);
  }
  100% {
    transform: translateX(-5%) translateY(10%);
  }
}

/* MEDIA QUERIES */

@media screen and (min-width: 300px) {
  h1.dragon-text {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 374px) {
  h1.dragon-text {
    font-size: 5em;
  }
  .slink__banner {
    min-height: calc(52vh - 8rem);
  }
}

@media screen and (min-width: 45rem) {
  h1.dragon-text {
    max-width: 55rem;
    font-size: 8em;
  }

  .slink__banner {
    min-height: calc(62vh - 8rem);
  }
}

@media screen and (min-width: 65rem) {
  .slink__splash p {
    display: inline-block;
    max-width: 105rem;

    font-size: var(--base-font-size);
  }

.slink__thumbnails article {
    flex-basis: 24%;
  }

  .slink__thumbnails article p {
    padding: 1rem 2rem;

    font-size: var(--h5);
  }
}